<strong>Congratulations, {{ student }}</strong>
<p>You became a member of Gympoint.</p>
<p>
  <strong>Plan: </strong> {{ plan }} <br />
  <strong>Student: </strong> {{ student }} <br />
  <strong>End date: </strong> {{ endDate }} <br />
</p>
