<strong>Parabéns, {{ student }}</strong>
<p>Você se tornou um membro da Gympoint.</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Aluno: </strong> {{ student }} <br />
  <strong>Término: </strong> {{ endDate }} <br />
</p>
